/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(146, 9, 9);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Portfolio{
    margin: auto;
    max-width: 1000px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 10px;
    height: 120px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
.myWeek{
    margin: auto;
    max-width:1000px;
    background-color: rgb(220, 220, 220);
    height: 1020px;
    margin-bottom: 15px;     
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

a{
    background-color: rgb(146, 9, 9, .3);
    padding: 10px;
    
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: black;
}

a:hover{
    background-color: rgba(146, 9, 9, .5);
    border: 2px;
    border-style: solid;
    
}

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:450px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(146, 9, 9);

    align-items: center;
    justify-content: center;
    
}
    
.miniChart{
    background-color: white;
    width:300px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(146, 9, 9);
}
